#body {
    height: 100%;
    width: 100%;
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
}

.head-div {
    background-color: rgb(100, 154, 172);
}

.navbar-div {
    background-color: rgb(70, 84, 88);
    padding-block: 25px;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-li {
    display: inline;
}

#body {
    height: 100%;
    width: 100%;
}


/* .navbar {
    background-color: #3c8dbc;
    margin: 0;
    width: 100%;
    float: none;
    border: none;
    min-height: 50px;
    border-radius: 0;
}

.navbar-static-top {
    z-index: 1000;
}
*/

.column {
    float: left;
    width: 50%;
    height: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: rgb(216, 222, 224);
}

h1 {
    color: rgb(50, 121, 56);
    margin-left: 20px;
}