@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: left;
    min-height: 100vh;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 30px auto;
    width: 350px;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    color: rgb(58, 58, 58);
    text-align: center;
    padding: 14px 125px;
    text-decoration: none;
}

a {
    display: block;
    padding: 8px;
    background-color: #c1c1c1;
}

li a:hover {
    background-color: #7a767a;
}

.active {
    background-color: #7a767a;
}

.nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}